/*
0px - 600px:	Phone
600px - 900px:	Tablet portrait
900px - 1200px:	Tablet landscape
[1200-1800px] is where our normal style apply
1800px + : Big Desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typography > Layout + Grid > Page Layout > Components;

1em = 16px;
*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* making default unit to 10px = 1rem */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 3rem;
  color: #777; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.wrapper {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      width: 75%; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper {
      width: 70%; } }

::selection {
  background-color: #7ed56f;
  color: #fff; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary-main {
    display: block;
    font-size: 5rem;
    letter-spacing: 3.5rem;
    font-weight: 400; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-size: 4rem; } }
  .heading-primary-sub {
    font-size: 1.5rem;
    letter-spacing: 1.74rem;
    font-weight: 700;
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.center-text {
  text-align: center !important; }

.margin-bottom-large {
  margin-bottom: 12rem !important; }
  @media only screen and (max-width: 56.25em) {
    .margin-bottom-large {
      margin-bottom: 8rem !important; } }

.margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .margin-bottom-big {
      margin-bottom: 5rem !important; } }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.margin-top-big {
  margin-top: 10rem !important; }
  @media only screen and (max-width: 56.25em) {
    .margin-top-big {
      margin-top: 8rem !important; } }

.margin-top-medium {
  margin-top: 6rem !important; }
  @media only screen and (max-width: 56.25em) {
    .margin-top-medium {
      margin-top: 4rem !important; } }

.button, .button:link, .button:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  text-align: center;
  transition: all .2s;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer; }
.button:hover {
  color: #777;
  transform: translateY(-3px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px); }
.button-white {
  background-color: #fff;
  color: #777; }
.button-green {
  background-color: #55c57a;
  color: #fff; }

.button-text:link, .button-text:visited {
  color: #55c57a;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }
.button-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }
.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: .2s all;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        margin-top: 6rem;
        width: 33.3333%;
        float: left;
        position: relative;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 1rem;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba #000, 0.5;
      z-index: 20;
      outline: 1.5rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .grid {
      grid-template-columns: 1fr; } }
  .grid__feature-boxes {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s; }
    .grid__feature-boxes__icon {
      font-size: 6rem;
      margin-bottom: .5rem;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      display: inline-block;
      color: transparent; }
    .grid__feature-boxes:hover {
      transform: translateY(-1.5rem) scale(1.03); }

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .cards-grid {
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center; } }

.cards {
  height: 52rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .cards {
      margin: 0rem; } }
  .cards__side {
    height: 52rem;
    transition: 1s all ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15); }
    .cards__side--back {
      transform: rotateY(180deg); }
      .cards__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .cards__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .cards__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .cards:hover .cards__side--front {
    transform: rotateY(-180deg); }
  .cards:hover .cards__side--back {
    transform: rotateY(0); }
  .cards__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: multiply;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .cards__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(assets/img/nat-5.jpg); }
    .cards__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(assets/img/nat-6.jpg); }
    .cards__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(assets/img/nat-7.jpg); }
  .cards__heading {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 16rem;
    right: 2rem; }
  .cards__heading-span {
    padding: 1rem; }
    .cards__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .cards__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .cards__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .cards__details {
    padding: 3rem; }
    .cards__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .cards__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .cards__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .cards__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .cards__price-box {
    color: #fff;
    text-align: center;
    margin-bottom: 8rem; }
  .cards__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .cards__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em) {
    .cards {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15); }
      .cards__picture {
        height: 30rem; }
      .cards__side {
        height: auto;
        position: relative;
        box-shadow: none;
        border-radius: 0; }
        .cards__side--back {
          transform: rotateY(0);
          clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%); }
      .cards:hover .cards__side--front {
        transform: rotateY(0); }
      .cards__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .cards__price-box {
        margin-bottom: 3rem; }
      .cards__price-value {
        font-size: 4rem; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  background-color: rgba(255, 255, 255, 0.5); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    -moz-shape-outside: circle(50% at 50% 50%);
    float: left;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    -moz-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: .5s all;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: .5s all;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: 0.3s all; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 1.7rem;
  display: block;
  transition: .3s all; }
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }
.form__radio-group {
  width: 48%;
  display: inline-block; }
  @media only screen and (max-width: 37.5em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }
.form__radio-label {
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4.5rem; }
.form__radio-input {
  display: none; }
.form__radio-button {
  position: absolute;
  left: 0;
  top: -.4rem;
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }
  .form__radio-button::after {
    height: 1rem;
    width: 1rem;
    content: "";
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .3s all; }
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  transition: .3s ease-in;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.3333%;
    display: table-cell; }
    @media only screen and (max-width: 56.25em) {
      .popup__left {
        display: inline-block;
        width: 100%; } }
  .popup__right {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        display: inline-block;
        width: 100%; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .popup__img {
        display: inline-block;
        height: 20rem;
        width: 50%;
        float: left; } }
    @media only screen and (max-width: 37.5em) {
      .popup__img {
        display: none; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 4rem;
    -webkit-column-gap: 4rem;
    column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    -webkit-column-rule: 1px solid #eee;
    column-rule: 1px solid #eee;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto; }
    @media only screen and (max-width: 56.25em) {
      .popup__text {
        column-count: 1; } }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: .2s all; }
  .popup__close:hover {
    color: #55c57a; }

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(assets/img/hero-small.jpg) no-repeat center top/cover;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%, 0% 50%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%, 0% 50%);
  -moz-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%, 0% 50%); }
  @media only screen and (min-width: 125em) {
    .header {
      background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(assets/img/hero.jpg) no-repeat center top/cover; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0 100%, 0% 50%);
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0 100%, 0% 50%);
      -moz-clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0 100%, 0% 50%);
      -ms-clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0 100%, 0% 50%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header__logo-box img.logo {
      height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0 5rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 5rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center;
        margin-bottom: 5rem; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    background-color: #333;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: .2s all; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none;
        text-align: center; } }

.navigation__checkbox {
  display: none; }
.navigation__button {
  background-color: #fff;
  text-align: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }
.navigation__background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: 1000;
  transition: transform .8s; }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 2.5rem;
      right: 2.5rem; } }
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  width: 0; }
.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }
.navigation__item {
  margin: 2rem; }
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: .4s all; }
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }
.navigation__icon {
  position: relative;
  margin-top: 3.3rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #333; }
  .navigation__icon::before, .navigation__icon::after {
    position: absolute;
    content: "";
    left: 0;
    transition: .2s all; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }
.navigation__button:hover .navigation__icon::before {
  top: -1rem; }
.navigation__button:hover .navigation__icon::after {
  top: 1rem; }
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 30rem 0 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(assets/img/nat-4.jpg) no-repeat center top/cover;
  transform: skewY(-7deg);
  margin-top: -8rem; }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(assets/img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(assets/img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(assets/img/nat-10.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%;
        padding: 6rem 2rem; } }

/*# sourceMappingURL=style.css.map */
